{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Event details{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Event Details</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('event.public') }}">{{ 'label.menu.event'|trans }}</a>
                        <a href="{{ path('event_details.public',{'slug':event.slug}) }}">{{ event.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Event Details Area =================-->
    <section class="event_details_area p_120">
        <div class="container">
            <div class="event_d_inner">
                {% if event.imgFile %}
                    <img src="{{ vich_uploader_asset(property,'imageFile') }}"
                         alt="{{ event.slug }}" class="img-fluid">
                {% else %}
                    <img src="{{ asset('media/event/empty.png') }}" alt="" class="img-fluid">
                {% endif %}
                <div class="row event_text_inner">
                    <div class="col-lg-4">
                        <div class="left_text">
                            <ul class="list">
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i>Saturday, 5th may, </a></li>
                                <li><a href="#"><i class="lnr lnr-apartment"></i>{{ event.address }}</a></li>
                                <li><a href="#"><i class="lnr lnr-location"></i> {{ event.city }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="right_text">
                            <h4>{{ event.title }}</h4>
                            <p>{{ event.content|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Event Details Area =================-->
{% endblock %}
