<div class="causes_item">
    <div class="causes_img">
        {% if cause.imgFile %}
            <img class="img-fluid" src="{{ vich_uploader_asset(property,'imgFile')| imagine_filter('thumb') }}"
                 alt="{{ event.slug }}">
        {% else %}
            <img class="img-fluid" src="{{ asset('media/cause/empty.png') }}" alt="">
        {% endif %}
        <div class="c_parcent">
            <span></span>
        </div>
    </div>
    <div class="causes_text">
        <h4><a href="{{ path('cause_details.public',{'slug':cause.slug}) }}">{{ cause.title }}</a></h4>
        <p>{{ cause.extrait }}</p>
    </div>
    <div class="causes_bottom">
        <a href="#">Raised: $50,689</a>
        <a href="#">Total Need: ${{ cause.totalNeeded }}</a>
    </div>
</div>