{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
    Gallery{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{'label.our_gallery'|trans}}</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('gallery.public') }}">Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Donation Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="main_title">
                <h2>Notre gallerie d'images</h2>
                <p>.</p>
            </div>
            <div class="row">
                {#{% for category in categoryImages %}#}
                    {#{{ include('gallery/_categoryCard.html.twig') }}#}
                {#{% endfor %}#}
            </div>
        </div>
    </section>
    <!--================Donation Categorie Area =================-->
{% endblock %}