{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'label.menu.contact'|trans }}{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>{{ 'label.menu.contact_us'|trans }}</h2>
                    <div class="page_link">
                        <a href="{{ path('home.public') }}">{{ 'label.menu.home'|trans }}</a>
                        <a href="{{ path('contact.public') }}">{{ 'label.menu.contact'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    {{ include('partials/_flash_messages.html.twig') }}
    <!--================Contact Area =================-->
    <section class="contact_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Abomey-Calavi Akassato , BENIN</h6>
                            <p>04 BP 0898</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">(+229) 62851328</a></h6>
                            <h6><a href="#">(+1) 5149625196</a></h6>
{#                            <p>{{ 'label.contact_horaire'|trans }}</p>#}
                            <p>&nbsp;</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">contact@voixdesfemmes.org</a></h6>
                            <p>{{ 'label.send_message_contact'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    {#{{ form_start(form, {'attr': {'class':'row contact_form','novalidate': 'novalidate','id':'contactForm'}}) }}#}

                    {#<div class="col-md-6">#}
                        {#<div class="form-group">#}
                            {#{{ form_row#}
                                {#(form.name,#}
                                {#{'attr':{'class':'single-input-accen','placeholder':'label.form.full_name'|trans}}#}
                            {#) }}#}
                            {#{{ form_errors(form.name) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.email,{'attr':{'class':'single-input-accen','placeholder':'label.form.enter_email_address'|trans}}) }}#}
                            {#{{ form_errors(form.email) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.phone,{'attr':{'class':'single-input-accen','placeholder':'label.form.enter_your_phone_number'|trans}}) }}#}
                            {#{{ form_errors(form.phone) }}#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.subject,{'attr':{'class':'single-input-accen','placeholder':'label.form.subject'|trans}}) }}#}
                            {#{{ form_errors(form.subject) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-6">#}
                        {#<div class="form-group">#}
                            {#{{ form_row(form.message,{'attr': {'class':'form-control-lg','rows':'6',#}
                                {#'placeholder':'label.form.message'|trans}}) }}#}
                            {#{{ form_errors(form.message) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#{% import "form/g-recaptcha.html.twig" as formAdd %}#}
                    {#{{ formAdd.recaptcha() }}#}
                    {#<div class="col-md-12 text-right">#}
                        {#<button type="submit" value="submit"#}
                                {#class="btn btn-lg submit_btn">{{ 'label.send_message'|trans }}</button>#}
                    {#</div>#}

                    {#{{ form_end(form) }}#}

                </div>
            </div>
        </div>
    </section>
    <!--================Contact Area =================-->
{% endblock %}
